html {
    width: 100%;
    height: 100%;
}

body {
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}


main {
    padding: 0 !important;
    overflow: hidden;
    height: calc(100% - 60px);
}

header {
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100%;
    height: 60px;
}

header > h4 {
    text-align: center;
    padding: 10px 0 !important;
    margin: 0 !important;
}

header > div#message {
    width: 480px;
    padding: 10px 30px 10px 15px;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.5s ease-in;
    position: absolute;
    top: -60px;
    z-index: 100;
    color: white;
    min-height: 50px;
    background-color: #505050;
}

header > div#message.active {
    top: 5px;
}

header > div#message.success {
    background-color: #045B0C;
}

header > div#message.error {
    background-color: #A40505;
}

header > div#message > span#close-msg {
    position: absolute;
    top: -3px;
    right: 10px;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
}

header > div#message > span#close-msg:hover {
    color: var(--primary-hover);
}

header > h4 span.mailplus {
    color: var(--primary-hover);
}

table#aliases {
    width: 100%;
}

table#aliases > tbody {
    display: block;
    height: 260px;
    overflow: auto;
    width: 100%;
    border-bottom: 3px solid var(--table-border-color);
}

table#aliases > thead, table#aliases > tbody > tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table#aliases td {
    border-bottom: var(--border-width) solid var(--table-border-color) !important;
}

table#aliases .alias {
    width: 40%;
    overflow: hidden;
    overflow-wrap: break-word
}
table#aliases .stats {
    width: 20%;
}
table#aliases .block {
    width: 20%;
}
table#aliases .copy {
    width: 10%;
}
table#aliases .delete {
    width: 10%;
}
table#aliases > thead {
    width: 100%;
}

table#aliases tr:first-child td[data-tooltip]:before, table#aliases tr:first-child td[data-tooltip]:after {
    bottom: initial;
    top: calc(100% + 8px);
}

table#aliases tr:first-child td[data-tooltip]::after {
    padding: 0;
    top: 100%;
    border-bottom: .3rem solid;
    border-top: initial;
}

input[type="text"], input[type="password"] {
    height: 30px !important;
}

button, select {
    padding: 2px !important;
}

[data-tooltip] {
    text-decoration: none !important;
    border: none !important;
}

.red {
    color: red;
}

.w-100 {
    width: 100%;
}

form.inline-form {
    display: flex;
    flex-direction: row;
}

form.inline-form > div.input-inline {
    flex-grow: 2;
}

form.inline-form > div.btn-inline {
    flex-grow: 1;
    padding-left: 10px;
    padding-top: 4px;
}

form.inline-form > label.label-inline {
    flex-grow: 1;
    padding-top: 4px;
    padding-right: 10px;
    font-weight: bold;
}

form.inline-form > select.select-inline {
    flex-grow: 2;
}

.mt-2 {
    margin-top: 2em;
}

.mr-1 {
    margin-right: 1em;
}

form {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0;
    margin-bottom: 0;
}


.text-center {
    text-align: center;
}

td.copy, td.delete, td.block {
    text-align: center;
    cursor: pointer !important;
}

i.gg-copy, i.gg-trash {
    cursor: pointer;
}

td.copy:hover > i.gg-copy {
    color: #1AB3E6;
}
td.delete:hover > i.gg-trash {
    color: #B71C1C;
}

td.block label {
    margin-right: 1em;
    display: inline-block;
}

span.number {
    margin-right: 1em;
}

.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 10px;
    color: #B71C1C;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
            0 0 0 2px,
            inset -2px 0 0,
            inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px;
}

.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}

.gg-trash::after {
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px;
}

.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px;
}

.gg-copy {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 14px;
    height: 18px;
    color: #1AB3E6;
    border: 2px solid;
    margin-left: -5px;
    margin-top: -4px;
}

.gg-copy::after,
.gg-copy::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}

.gg-copy::before {
    background:
            linear-gradient( to left,
            currentColor 5px, transparent 0)
            no-repeat right top/5px 2px,
            linear-gradient( to left,
            currentColor 5px, transparent 0)
            no-repeat left bottom/ 2px 5px;
    box-shadow: inset -4px -4px 0 -2px;
    bottom: -6px;
    right: -6px;
    width: 14px;
    height: 18px;
}

.gg-copy::after {
    width: 6px;
    height: 2px;
    left: 2px;
    top: 2px;
    box-shadow: 0 4px 0,0 8px 0;
}

.gg-mail-forward,
.gg-mail-forward::before {
    display: inline-block;
    box-sizing: border-box;
    height: 6px;
    border-top: 2px solid
}
.gg-mail-forward {
    border-left: 2px solid;
    border-top-left-radius: 4px;
    position: relative;
    width: 14px
}
.gg-mail-forward::before {
    content: "";
    position: absolute;
    width: 6px;
    border-right: 2px solid;
    top: -4px;
    right: -1px;
    transform: rotate(45deg)
}